$grey: #3D3D44;
$yellow:#FFCC48;
$red:#FF3F3F;
$light-grey:#333542;

$padding-mobile: 39px;
$padding-desktop: 45px;
$mobile-width: 428px;
$desktop-width: 1440px;

$Roboto:"Roboto", sans-serif;
$Raleway:"Raleway", sans-serif;
$Bebas:"Bebas", sans-serif;