$grey: #3D3D44;
$yellow:#FFCC48;
$red:#FF3F3F;
$light-grey:#333542;
$white:#FFF;
$black:#000;

$padding-mobile: 10px;
$padding-desktop: 90px;
$mobile-width: 360px;
$desktop-width: 1440px;

$Roboto:"Roboto", sans-serif;
$Raleway:"Raleway", sans-serif;
$Bebas:"Bebas", sans-serif;