<section class="additional" id="additional">
    <div class="additional__container">
    <h2 class="additional__title">
        Один из часто задаваемых вопросов это дополнительные работы
    </h2>
    <p class="additional__text">
        <span>Сборка</span> кухонных гарнитуров <span>сложный</span> технический процесс.<br><br>
        Некоторые <span>работы требуют</span> большого количества <span>инструментов</span>,
        расходников и дорогих <span>пил</span> <span>с коронками</span>.<br><br>Как складывается 
        итоговая цена и почему некоторые услуги стоят дорого мы 
        расскажем в этой <span>статье</span>.
    </p>      
    <a href="" class="additional__button">Читать</a>  
    </div>
</section>