<section class="advantages">
    <div class="advantages__container">
        <h2 class="advantages__title">Почему лучше обратиться в 
            нашу сервисную службу</h2>
            <div class="advantages__wrapper">
                <ul class="advantages__list">
                    <li class="advantages__item">
                    <p class="advantages__item-number">1</p>
                    <p class="advantages__item-text">Специалисты по сборке мебели обладают знаниями и опытом, необходимыми 
                        для правильной, быстрой и безопасной сборки вашей 
                        мебели.</p>
                    </li>
                    <li class="advantages__item">
                    <p class="advantages__item-number">2</p>
                    <p class="advantages__item-text">Специалисты по сборке могут собрать вашу мебель за долю времени, 
                        которое потребовалось 
                        бы вам. Это может быть особенно полезно, если вам нужно 
                        собрать несколько предметов мебели или если у вас плотный 
                        график.</p>
                    </li>
                    <li class="advantages__item">
                    <p class="advantages__item-number">3</p>
                    <p class="advantages__item-text">Попытка собрать мебель может быть неприятным и стрессовым занятием,
                         особенно если у вас нет 
                        под рукой инструментов. Наняв профессионала, вы избавитесь 
                        от стресса избежите повреждений.</p>
                    </li>
                    <li class="advantages__item">
                    <p class="advantages__item-number">4</p>
                    <p class="advantages__item-text">Хотя вы можете заплатить немного больше за профессиональную 
                        сборку, в долгосрочной перспективе 
                        она все равно может оказаться более выгодной. Если вы 
                        попытаетесь собрать мебель самостоятельно и допустите 
                        ошибки, это может привести к ее повреждению, что потребует 
                        дорогостоящего ремонта и вызова мастера.</p>
                    </li>
                    <li class="advantages__item">
                    <p class="advantages__item-number">5</p>
                    <p class="advantages__item-text">Профессиональные сборщики обладают достаточным опытом, 
                        чтобы избежать распространенных ошибок, 
                        которые могут привести к повреждению вашей мебели или вашего 
                        дома. Они также могут помочь вам избежать аннулирования гарантии 
                        производителя.</p>
                    </li>
                </ul>
            </div>
    </div>
</section>