<section class="advantages">
    <div class="advantages__container">
        <h2 class="advantages__title">Почему лучше обратиться в 
            нашу сервисную службу</h2>
            <div class="advantages__wrapper">
                <ul class="advantages__number-list">
                    <li class="advantages__number-item">1</li>
                    <li class="advantages__number-item">2</li>
                    <li class="advantages__number-item">3</li>
                    <li class="advantages__number-item">4</li>
                    <li class="advantages__number-item">5</li>
                </ul>
                <ul class="advantages__list">
                    <li class="advantages__item">Специалисты по сборке 
                        мебели обладают знаниями и опытом, необходимыми 
                        для правильной, быстрой и безопасной сборки вашей 
                        мебели.</li>
                    <li class="advantages__item">Специалисты по сборке могут 
                        собрать вашу мебель за долю времени, которое потребовалось 
                        бы вам. Это может быть особенно полезно, если вам нужно 
                        собрать несколько предметов мебели или если у вас плотный 
                        график.</li>
                    <li class="advantages__item">Попытка собрать мебель может быть 
                        неприятным и стрессовым занятием, особенно если у вас нет 
                        под рукой инструментов. Наняв профессионала, вы избавитесь 
                        от стресса избежите повреждений.</li>
                    <li class="advantages__item">Хотя вы можете заплатить немного 
                        больше за профессиональную сборку, в долгосрочной перспективе 
                        она все равно может оказаться более выгодной. Если вы 
                        попытаетесь собрать мебель самостоятельно и допустите 
                        ошибки, это может привести к ее повреждению, что потребует 
                        дорогостоящего ремонта и вызова мастера.</li>
                    <li class="advantages__item">Профессиональные сборщики обладают 
                        достаточным опытом, чтобы избежать распространенных ошибок, 
                        которые могут привести к повреждению вашей мебели или вашего 
                        дома. Они также могут помочь вам избежать аннулирования гарантии 
                        производителя.</li>
                </ul>
            </div>
    </div>
</section>