<section class="explanation">
    <div class="explanation__container">
        <h2 class="explanation__title">
            Как складывается цена за кухню
        </h2>
        <div class="explanation__wrapper">
        <ul class="explanation__list">
            <li class="explanation__item">
                <div class="explanation__item-container">
                <p class="explanation__item-text">Сборка, установка верхнего модуля</p>
                <img class="explanation__item-image" src="app/images/hood.png" alt="Сборка, установка верхнего модуля">
                </div>
                <button class="explanation__item-element"></button>
            </li>
            <li class="explanation__item">
                <div class="explanation__item-container">
                <p class="explanation__item-text">Установка, подключение, врезка мойки</p>
                <img class="explanation__item-image" src="app/images/hood.png" alt="Установка, подключение, врезка мойки">
                </div>
                <button class="explanation__item-element"></button>
            </li>
            <li class="explanation__item">
                <div class="explanation__item-container">
                <p class="explanation__item-text">Установка вытяжки, подключение вытяжки</p>
                <img class="explanation__item-image" src="app/images/hood.png" alt="Установка вытяжки, подключение вытяжки">
                </div>
                <button class="explanation__item-element"></button>
            </li>
             <li class="explanation__item">
                <div class="explanation__item-container">
                 <p class="explanation__item-text">Установка подсветки</p>
                 <img class="explanation__item-image" src="app/images/hood.png" alt="Установка подсветки">
                </div>
                 <button class="explanation__item-element"></button>
            </li>
            <li class="explanation__item">
                <div class="explanation__item-container">
                <p class="explanation__item-text">Рейлинг</p>
                <img class="explanation__item-image" src="app/images/hood.png" alt="Рейлинг">
                </div>
                <button class="explanation__item-element"></button>
            </li>
            <li class="explanation__item">
                <div class="explanation__item-container">
                <p class="explanation__item-text">Установка, врезка, подключение  варочной поверхности</p>
                <img class="explanation__item-image" src="app/images/hood.png" alt="Установка, врезка, подключение  варочной поверхности">
                </div>
                <button class="explanation__item-element"></button>
            </li>
            <li class="explanation__item">
                <div class="explanation__item-container">
                <p class="explanation__item-text">Сборка установка нижнего модуля</p>
                <img class="explanation__item-image" src="app/images/hood.png" alt="Сборка установка нижнего модуля">
                </div>
                <button class="explanation__item-element"></button>
            </li>
            <li class="explanation__item">
                <div class="explanation__item-container">
                <p class="explanation__item-text">Установка цоколя</p>
                <img class="explanation__item-image" src="app/images/hood.png" alt="Установка цоколя">
                </div>
                <button class="explanation__item-element"></button>
            </li>
            <li class="explanation__item">
                <div class="explanation__item-container">
                <p class="explanation__item-text">Сборка шкафа пенала</p>
                <img class="explanation__item-image" src="app/images/hood.png" alt="Сборка шкафа пенала">
                </div>
                <button class="explanation__item-element"></button>
            </li>
            <li class="explanation__item">
                <div class="explanation__item-container">
                <p class="explanation__item-text">Установка, монтаж духового шкафа</p>
                <img class="explanation__item-image" src="app/images/hood.png" alt="Установка, монтаж духового шкафа">
                </div>
                <button class="explanation__item-element"></button>
            </li>
        </ul>
        </div>
        <form action="" class="homepage__form">
            <h2 class="homepage__subtittle">Форма обратной связи</h2>
            <div class="homepage__form-wrapper">
              <div class="homepage__item">
                <label for="homepage__name" class="homepage__label"></label>
                <input type="text" id="homepage__name" class="homepage__input" name="user__name" placeholder="Ваше имя*">
              </div>
              <div class="homepage__item">
                <label for="homepage__number" class="homepage__label"></label>
                <input type="number" id="homepage__number" class="homepage__input" name="user__number" placeholder="Номер телефона*">
              </div>
              <div class="homepage__item">
                <label for="homepage__question" class="homepage__label"></label>
                <textarea id="homepage__question" class="homepage__input homepage__textarea" name="user__question" placeholder="Сообщение"></textarea>
              </div>
              <div class="homepage__check">
                <div class="homepage__check-technique">
                    <h3 class="homepage__check-title">Техника</h3>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-1" class="homepage__checkbox">
                        <label for="homepage__checkbox-1" class="homepage__checkbox-label">Встраиваемый холодильник</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-2" class="homepage__checkbox">
                        <label for="homepage__checkbox-2" class="homepage__checkbox-label">Посудомоечная машина</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-3" class="homepage__checkbox">
                        <label for="homepage__checkbox-3" class="homepage__checkbox-label">Варочная панель</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-4" class="homepage__checkbox">
                        <label for="homepage__checkbox-4" class="homepage__checkbox-label">Духовой шкаф</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-5" class="homepage__checkbox">
                        <label for="homepage__checkbox-5" class="homepage__checkbox-label">СВЧ - печь</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-6" class="homepage__checkbox">
                        <label for="homepage__checkbox-6" class="homepage__checkbox-label">Мойка/Раковина</label>
                    </div>
                </div>
                <div class="homepage__check-sundry">
                    <h3 class="homepage__check-title">Разное</h3>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-7" class="homepage__checkbox">
                        <label for="homepage__checkbox-7" class="homepage__checkbox-label">Бутылочница</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-8" class="homepage__checkbox">
                        <label for="homepage__checkbox-8" class="homepage__checkbox-label">Модули</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-9" class="homepage__checkbox">
                        <label for="homepage__checkbox-9" class="homepage__checkbox-label">Шкаф-пенал</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-10" class="homepage__checkbox">
                        <label for="homepage__checkbox-10" class="homepage__checkbox-label">Столешница</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-11" class="homepage__checkbox">
                        <label for="homepage__checkbox-11" class="homepage__checkbox-label">Подсветка</label>
                    </div>
                    <div class="homepage__item">
                        <input type="checkbox" id="homepage__checkbox-12" class="homepage__checkbox">
                        <label for="homepage__checkbox-12" class="homepage__checkbox-label">Стеновая Панель</label>
                    </div>
                </div>
              </div> 
              <div class="homepage__item">
                <label for="homepage__file" class="homepage__label homepage__label-file">
                  <img src="app/images/peg.svg" alt="скрепка" class="homepage__label-image"><br>
                  <span class="homepage__label-clue">Перетащите файл(ы) в эту область</span><br>
                  <span class="homepage__label-hook">или вы можете выбрать файл</span><br>
                  <span class="homepage__label-button">кликнув сюда</span><br>
                </label>
                <input type="file" id="homepage__file" class="homepage__input" name="user__file" placeholder="Перетащите файл(ы) в эту область">
              </div>
              <p class="homepage__promt">(прикрепите схему или фото мебели в готовом виде)</p>
              <a href="" class="homepage__button button" type="submit">Рассчитать стоимость</a>
            </div>
            <button class="explanation__button-open">
            </button>
        </form>
    </div>
</section>