<section class="faq">
    <div class="faq_container">
        <h2 class="faq__title">
            FAQ<br>Ответы на часто задаваемые вопросы.
        </h2>
        <div class="faq__wrapper">
        <ul class="faq__list-one">
            <li class="faq__item">
                <p class="faq__item-question">Сколько стоит сборка мебели?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Какая информация нужна для того, чтобы 
                    определить стоимость сборки моей мебели?</p>
                    <p class="faq__item-answer">Оплата производится наличными средствами 
                        (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                        вами качества их проведения.<br><br>
                        Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">

        </li>
            <li class="faq__item">
                <p class="faq__item-question">Сколько времени  нужно для сборки  мебели?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Дополнительные услуги включены в стоимость сборки?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Вы предоставляете гарантию на выполненную работу?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Есть ли возможность онлайн-заказа?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
        </ul>
        <ul class="faq__list-two">
            <li class="faq__item">
                <p class="faq__item-question">Какие требования к месту, где будет производиться сборка мебели?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Какие меры безопасности вы принимаете во время сборки мебели?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Могу ли я оставить вас одних в своем доме во время сборки?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Что мне следует сделать, чтобы 
                    подготовиться к сборке мебели до вашего прибытия?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.</p>
                    <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
            <li class="faq__item">
                <p class="faq__item-question">Какие методы оплаты вы принимаете?</p>
                <p class="faq__item-answer">Оплата производится наличными средствами 
                    (в российских рублях) мастеру по окончанию сборочных работ и одобрения 
                    вами качества их проведения.<br><br>
                    Безналичная оплата банковским переводом по выставленному счету.
                </p>
                <img src="app/images/src/faq/Plus.svg" alt="раскрыть вопрос" class="faq__item-image">
            </li>
        </ul>
        </div>
    </div>
</section>