<section class="faq">
    <div class="faq_container">
        <h2 class="faq__title">
            FAQ<br>Ответы на часто задаваемые вопросы.
        </h2>
        <div class="faq__wrapper">
        <ul class="faq__list-one">
            <li class="faq__item">Сколько стоит сборка мебели?</li>
            <li class="faq__item">Какая информация нужна для того, чтобы 
            определить стоимость сборки моей мебели?</li>
            <li class="faq__item">Сколько времени  нужно для сборки  мебели?</li>
            <li class="faq__item">Дополнительные услуги включены в стоимость сборки?</li>
            <li class="faq__item">Вы предоставляете гарантию на выполненную работу?</li>
            <li class="faq__item">Есть ли возможность онлайн-заказа?</li>
        </ul>
        <ul class="faq__list-two">
            <li class="faq__item">Какие требования к месту, где будет производиться сборка мебели?</li>
            <li class="faq__item">Какие меры безопасности вы принимаете во время сборки мебели?</li>
            <li class="faq__item">Могу ли я оставить вас одних в своем доме во время сборки?</li>
            <li class="faq__item">Что мне следует сделать, чтобы подготовиться к сборке мебели до вашего прибытия?</li>
            <li class="faq__item">Какие методы оплаты вы принимаете?</li>
        </ul>
        </div>
    </div>
</section>