<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__container">
            <h3 class="footer__subtitle">Услуги</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Сборка производственной мебели
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Сборка  корпусной мебели
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Сборка офисной мебели
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Сборка малой мебели
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__container">
            <h3 class="footer__subtitle">Прайс лист</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Кухонные гарнитуры
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Корпусная мебель
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Дополнительные услуги
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__container">
            <h3 class="footer__subtitle">Ресурсы</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Полезные статьи
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Поддержка
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__container">
            <h3 class="footer__subtitle">Компания</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        О нас
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Вакансии
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Частые вопросы
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__item-link">
                        Галерея
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__container">
            <h3 class="footer__subtitle">Наши контакты</h3>
            <ul class="footer__list">
                <li class="footer__item">Телефон: 8 (960) 637-39-67</li>
                <li class="footer__item">Режим работы: ежедневно 9:00–21:00 </li>
                <li class="footer__item">Почта: sborkamebelisaintp@gmail.com</li>
            </ul>
        </div>
    </div>
    <div class="footer__container-social">
        <h3 class="footer__subtitle-social">Подпишись на нас в социальных сетях</h3>
        <ul class="footer__container-social-list">
            <li class="footer__container-social-item">
                <a href="#" class="footer__container-social-link">
                    <img src="app/images/src/footer/inst.png" alt="ссылка на Инстаграмм" class="footer__container-social-image">
                </a>
            </li>
            <li class="footer__container-social-item">
                <a href="#" class="footer__container-social-link">
                    <img src="app/images/src/footer/vk.png" alt="ссылка на Вконтакте" class="footer__container-social-image">
                </a>
            </li>
        </ul>
    </div>
</footer>