<section class="price" id="price">
    <h2 class="price__title">Цены на наши услуги</h2>
    <div class="price__container">
    <div class="price__kitchen">
        <a href="https://sborkamebelispb.ru/price-kitchen.html" class="price__kitchen-title">прайс 
            на сборку кухонного гарнитура
        </a>
    </div>
    <div class="price__furniture">
        <a href="https://sborkamebelispb.ru/table.html" class="price__furniture-title">прайс на сборку 
            корпусной мебели
        </a>
    </div>
    </div>
    <div class="price__wrapper-kitchen">
        <div class="price__wrapper-modal-kitchen" id="modal-kitchen">
            <div class="modal-content-kitchen">
                <span class="price__close-kitchen"></span>
                <iframe id="modalContent-kitchen" src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div class="price__wrapper-furniture">
    <div class="price__wrapper-modal-furniture" id="modal-furniture">
        <div class="modal-content-furniture">
            <span class="price__close-furniture"></span>
            <iframe id="modalContent-furniture" src="" frameborder="0"></iframe>
        </div>
    </div>
    </div>
</section>