<section class="services" id="services">
    <h2 class="services__title">
        Услуги
    </h2>
    <div class="services__container">
    <h3 class="services__subtitle">
        Собираем мебель любых типов и видов от всех производителей
    </h3>
    <div class="services__wrapper" id="servicesWrapper">
        <img src="app/images/src/services/office.png" alt="картинка офиса" class="services__image">
        <ul class="services__list">
            <li class="services__item ">Гостиные</li>
            <li class="services__item ">Кухонные гарнитуры</li>
            <li class="services__item ">ТВ-тумбы</li>
            <li class="services__item ">Столы</li>
            <li class="services__item ">Офисные помещения</li>
            <li class="services__item ">Гардеробные</li>
        </ul>
    </div>
    </div>
</section>