<section class="works" id="works">
    <div class="works__container">
        <h2 class="works__title">Выполненные проекты</h2>
        <ul class="works__list">
            <li class="works__item">
                <img src="app/images/src/works/1.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/2.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/3.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/4.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/5.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/6.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/7.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/8.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/9.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/10.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/11.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/12.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/13.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/14.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/15.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/16.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/17.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/18.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/19.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/20.png" alt="фотография работ" class="works__image">
            </li>
            <li class="works__item">
                <img src="app/images/src/works/21.png" alt="фотография работ" class="works__image">
            </li>
        </ul>
    </div>
    <div id="works__modal" class="works__modal">
        <span class="button-close" alt="Кнопка закрытия"></span>
        <img id="modalImage" src="" alt="Увеличенное изображение">
    </div>
</section>