.additional {
    padding: $padding-mobile
}
.additional__container {
    min-width: 340px;
    max-width: 780px;
    margin: 0 auto;
    background-color: $yellow;
    border-radius: 5px;
    padding: 11px 65px 11px 11px;
    position: relative;
    @media (min-width: $desktop-width) { 
        max-width: 1260px;
        padding: 45px 300px 45px 45px;
        border-radius: 10px;
    }
}
.additional__container::after {
    content: '';
    position: absolute;
    bottom: -11px;
    right: 0;
    background-image: url('../images/src/additional/hand.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 120px;
    @media (min-width: $desktop-width) {
        width: 375px;
        height: 360px;
    } 
}
.additional__title {
    color: $grey;
    font-family: $Raleway;
    font-size: 14.053px;
    font-style: normal;
    font-weight: 900;
    line-height: 80%;
    min-width: 275px;
    max-width: 400px;
    margin-bottom: 12px;
    @media (min-width: $desktop-width) { 
        font-size: 46.325px;
        margin-bottom: 60px;
        max-width: 1100px;
    }
}
.additional__text {
    color: $grey;
    font-family: $Raleway;
    font-size: 9.369px;
    font-style: normal;
    font-weight: 300;
    line-height: 80%;
    min-width: 178px;
    max-width: 460px;
    margin: 0 150px 12px 0;
    @media (min-width: $desktop-width) { 
        font-size: 30.884px;
        max-width: 890px;
        margin: 0 0 48px 0;
    }
}
.additional__text span {
    font-weight: 700;
}
.additional__button {
    color: $grey;
    font-family: $Raleway;
    font-size: 9.369px;
    font-style: normal;
    font-weight: 700;
    line-height: 80%;
    text-decoration-line: underline !important;
    @media (min-width: $desktop-width) { 
        font-size: 30.884px;
    }
}
.additional__button:hover {
    opacity: 0.7;
}