.advantages {
    padding: 30px $padding-mobile;
    min-width: 340px;
    max-width: 800px;
    margin: 0 auto;
    @media (min-width: $desktop-width) {
        max-width: 1260px;
        padding: 90px 0;
    }
}
.advantages__title {
    color: $grey;
    text-align: center;
    font-family: $Raleway;
    font-size: 20.362px;
    font-style: normal;
    font-weight: 900;
    line-height: 86.5%;
    min-width: 340px;
    max-width: 780px;
    margin: 0 auto 27px 0; 
    border-radius: 0px 22.038px 22.038px 22.038px;
    border: 1px solid $red;
    padding: 9px 18px;
    position: relative;
    @media (min-width: $desktop-width) {
        max-width: 1260px;
        font-size: 77.852px;
        border-radius: 0px 84.263px 84.263px 84.263px;
        border: 3.823px solid $red;
        padding: 33px 18px;
        margin: 0 auto 70px 0; 
    }
}
.advantages__title::after {
    content: url('../images/src/advantages/line-advantages.svg');
    width: 1px;
    height: 359px;
    top: 100%;
    left: 85px;
    position: absolute;
    @media (min-width: $desktop-width) {
        content: url('../images/src/advantages/line-advantages-d.svg');
        width: 3px;
        height: 1372px;
        top:200px;
        left: 300px;
    }
}
.advantages__item-number {
    color: $grey;
    font-family: $Bebas;
    font-size: 40.723px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    margin-right: 90px;
    @media (min-width: $desktop-width) {
        font-size: 155.704px;
        margin-right: 280px;
    }
}

.advantages__item:nth-child(1)::after {
    content: '';
    background-image: url('../images/src/advantages/builder.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: -7px;
        left: 145px;
    }
}

.advantages__item:nth-child(2)::after {
    content: '';
    background-image: url('../images/src/advantages/timetable.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: 15px;
        left: 145px;
    }
}

.advantages__item:nth-child(3)::after {
    content: '';
    background-image: url('../images/src/advantages/meditation.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: -7px;
        left: 145px;
    }
}

.advantages__item:nth-child(4)::after {
    content: '';
    background-image: url('../images/src/advantages/money.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: 30px;
        left: 145px;
    }
}
.advantages__item:nth-child(5)::after {
    content: '';
    background-image: url('../images/src/advantages/foreman.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: 15px;
        left: 145px;
    }
}
.advantages__item-text {
    color: $grey;
    font-family: $Blogger;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    min-width: 242px;
    @media (min-width: $desktop-width) {
        font-size: 38.235px;
        width: 925px;
    }
}
.advantages__item {
    margin-bottom: 25px;
    display: flex;
    position: relative;
    align-items: center;
    @media (min-width: $desktop-width) {
        margin-bottom: 90px;
    }
}
.advantages__wrapper {
    display: flex;
    margin: 0 auto 0 auto;
    min-width: 340px;
    max-width: 780px;
    padding-right: 10px;
    @media (min-width: $desktop-width) {
        max-width: 1260px;
    }
}
