.advantages {
    padding: 30px 0;
    width: 375px;
    margin: 0 auto;
    @media (min-width: $desktop-width) {
        width: 1260px;
        padding: 90px 0;
    }
}
.advantages__title {
    color: $grey;
    text-align: center;
    font-family: $Raleway;
    font-size: 20.362px;
    font-style: normal;
    font-weight: 900;
    line-height: 86.5%;
    width: 330px;
    margin: 0 auto 27px 0; 
    border-radius: 0px 22.038px 22.038px 22.038px;
    border: 1px solid $red;
    padding: 9px 18px;
    position: relative;
    @media (min-width: $desktop-width) {
        width: 1260px;
        font-size: 77.852px;
        border-radius: 0px 84.263px 84.263px 84.263px;
        border: 3.823px solid $red;
        padding: 33px 18px;
        margin: 0 auto 90px 0; 
    }
}
.advantages__title::after {
    content: url('../images/src/line-advantages.svg');
    width: 1px;
    height: 359px;
    top: 53px;
    left: 106px;
    position: absolute;
    @media (min-width: $desktop-width) {
        content: url('../images/src/line-advantages-d.svg');
        width: 3px;
        height: 1372px;
        top:200px;
        left: 403px;
    }
}
.advantages__number-item {
    color: $grey;
    font-family: $Bebas;
    font-size: 40.723px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    @media (min-width: $desktop-width) {
        font-size: 155.704px;
    }
}
.advantages__number-item:nth-child(1) {
    margin-bottom: 28px;
    @media (min-width: $desktop-width) {
        margin-bottom: 90px; 
    }
}
.advantages__number-item:nth-child(1)::after {
    content: '';
    background-image: url('/app/images/src/builder.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: -7px;
        left: 145px;
    }
}
.advantages__number-item:nth-child(2) {
    margin-bottom: 26px;
    @media (min-width: $desktop-width) {
        margin-bottom: 125px; 
    }
}
.advantages__number-item:nth-child(2)::after {
    content: '';
    background-image: url('/app/images/src/timetable.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: -7px;
        left: 145px;
    }
}
.advantages__number-item:nth-child(3) {
    margin-bottom: 34px;
    @media (min-width: $desktop-width) {
        margin-bottom: 120px; 
    }
}
.advantages__number-item:nth-child(3)::after {
    content: '';
    background-image: url('/app/images/src/meditation.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: -7px;
        left: 145px;
    }
}
.advantages__number-item:nth-child(4) {
    margin-bottom: 35px;
    @media (min-width: $desktop-width) {
        margin-bottom: 150px; 
    }
}
.advantages__number-item:nth-child(4)::after {
    content: '';
    background-image: url('/app/images/src/money.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: -7px;
        left: 145px;
    }
}
.advantages__number-item:nth-child(5)::after {
    content: '';
    background-image: url('/app/images/src/foreman.svg');
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 40px;
    @media (min-width: $desktop-width) {
        width: 145px;
        height: 145px;
        top: -7px;
        left: 145px;
    }
}
.advantages__item {
    color: $grey;
    font-family: $Blogger;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    width: 242px;
    margin-bottom: 25px;
    @media (min-width: $desktop-width) {
        font-size: 38.235px;
        width: 925px;
        margin-bottom: 100px;
    }
}
.advantages__wrapper {
    display: flex;
    margin: 0 auto 0 auto;
    width: 350px;
    justify-content: space-between;
    @media (min-width: $desktop-width) {
        width: 1360px;
        margin-left: 45px;
    }
}
.advantages__number-list {
    margin-top: -3px;
}