.faq {
    padding: 20px $padding-mobile;
}
.faq_container {
    min-width: 340px;
    max-width: 780px;
    margin: 0 auto;
    padding: 0 30px;
    @media (min-width: $desktop-width) {
        max-width: 1210px;
    }
}
.faq__title {
    color: $grey;
    text-align: center;
    font-family: $Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 80%;
    margin: 30px auto;
    @media (min-width: $desktop-width) {
        font-size: 85px;
        margin: 90px auto;
    }
}
.faq__item {
    color: $grey;
    font-family: $Raleway;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    @media (min-width: $desktop-width) {
        font-size: 35px;
        width: 535px;
        margin-bottom: 35px;
    }
}
.faq__item:hover {
    opacity: 0.7;
}
.faq__item-image{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    right: -20px;
    @media (min-width: $desktop-width) {
        width: 45px;
        height: 45px;
        right: -65px;
        top: 5px;
    }
}
.faq__wrapper {
    display: flex;
    max-width: 780px;
    justify-content: space-between;
    @media (min-width: $desktop-width) {
        max-width: 1260px;
    }
}
.faq__list-one {
    margin: 0 40px 0 -25px;
    @media (min-width: $desktop-width) {
        margin: 0 50px 0 -40px;
    }
}
.faq__item-answer {
    margin-top: 10px;
    font-size: 8px;
    font-weight: 300;
    line-height: 85%;
    display: none;
    overflow: hidden;
    transition: opacity 1s, max-height 1s;
    max-width: 350px;
    @media (min-width: $desktop-width) {
        font-size: 22px;
        margin-top: 20px;
        max-width: 510px;
    }
}