.header {
    background-color: $grey;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    position: relative;
}
.header__container {
    min-width: $mobile-width;
    padding: 5px $padding-mobile;
    margin: 0 auto;
    display: flex;
    position: relative;
    max-width: 1040px;
    @media (min-width: $desktop-width) { 
        padding: 10px $padding-desktop;
        max-width: 1440px;
    }
}
.header__image-link {
    margin-right: 10px;
}
.header__image {
    width: 40px;
    height: 40px;
    @media (min-width: $desktop-width) { 
        width: 80px;
        height: 80px;
        margin-right: 90px;
    }
}
.header__navigation-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    min-width: 260px;
    max-width: 600px;
    @media (min-width: $desktop-width) {
        width: 620px;
        margin: 0 40px 0 auto;
    }
}
.header__navigation-link {
    color: $white;
    font-size: 16px;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 600;
    @media (min-width: $desktop-width) { 
        font-size: 24px;
    }
}
.header__navigation-link:hover {
    color: $yellow;
}
.header__toggle {
    cursor: pointer;
    margin-left: 10px;
    @media (min-width: $desktop-width) { 
        display: none;
    }
}
.header__toggle--closed .header__toggle-burger {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: $white;
    transition: 0.2s;
    display: block;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $white;
      left: 0;
    }
  
    &::before {
      top: 6px;
    }
  
    &::after {
      top: -6px;
    }
}
.header__toggle--opened .header__toggle-burger {
    background-color: transparent;
    position: relative;
    width: 20px;
    height: 2px;
    transition: 0.2s;
    display: block;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $white;
      left: 0;
    }
    &::before {
        top: 0;
        transform: rotate(-45deg);
      }
    
      &::after {
        top: 0;
        transform: rotate(45deg);
      }
    
}
.header__burger-link {
    color:$white;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    @media (min-width: $desktop-width) { 
        font-size: 24px;
    }
}
.header__burger-link:hover {
    color: $yellow;
}
.header__burger-item:not(:last-child) {
    margin-bottom: 10px;
    @media (min-width: $desktop-width) {
      margin: 0;
    }
}
.header__burger-list--opened{
    position: absolute;
    right: 0;
    top:50px;
    background-color: $grey;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: block;
    
}
.header__burger-list--closed {
    display: none;
    @media (min-width: $desktop-width) {
        display: block;
        position: relative;
        display: flex;
        padding: 0;
        background-color: transparent;
        top: 0;
        align-items: center;
        justify-content: space-between;
        width: 800px;
        margin-right: auto;
    }
}
.header__burger-link--master {
    background-color: $yellow;
    color: $black;
    padding: 5px 10px;
    border-radius: 5px;
}
.header__burger-link--master:hover {
    opacity: 0.8;
    color: $black;
}
.header__burger-item--master {
    margin-top: 18px;
    @media (min-width: $desktop-width) {
    margin: 0 0 0 20px;
    }
}