.homepage {
    background-image: url('/app/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -15px;
    z-index: -1;
    padding: 70px $padding-mobile;
    @media (min-width: $desktop-width) {
        background-size: cover;
    }
}
.homepage__container {
    @media (min-width: $desktop-width) {
        display: flex;
        width: 1260px;
        margin: 0 auto;
    }
}
.homepage__title {
    color: $white;
    text-align: center;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 75.969px;
    font-family: 'Neue soviet',sans-serif;
    width: 360px;
    margin: 0 auto;
    @media (min-width: $desktop-width) {
        font-size: 153px;
        width: 670px;
        text-align: left;
        line-height: 139.982px;
    }
}
.homepage__title span {
    color: $yellow;
    border-bottom: 4px solid;
}
.homepage__form {
    min-width: 360px;
    max-width: 780px;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(51, 53, 66, 0.50) 0%,
    rgba(51, 53, 66, 0.50) 100%), 
    linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, 
    rgba(196, 196, 196, 0.00) 156.08%);
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid $white;
    padding: 30px;
    backdrop-filter: blur(5.035763263702393px);
    @media (min-width: $desktop-width) {
        width: 520px;
        margin: 0 0 0 auto;
    }
}
.homepage__subtittle {
    color: $white;
    text-align: center;
    font-family: $Roboto;
    font-size: 13.854px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.854px;
    @media (min-width: $desktop-width) {
        font-size: 20px;
    }
}
.homepage__item #homepage__name,
.homepage__item #homepage__number{
    width: 100%;
    margin: 15px auto 30px auto;
    padding: 2px 0 10px 0;
    border-bottom: 1px solid $white;
}
#homepage__question {
    width: 100%;
    margin: 15px auto ;
    padding: 2px 0 0 0 ;
    border: none;
    border-bottom: 1px solid $white;
    resize: none;
}
#homepage__question:focus {
    outline: none;
}
.homepage__input {
    color: $white;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 13.854px;
    @media (min-width: $desktop-width) {
        font-size: 16px;
    }
}
::placeholder{
    color: $white;
    text-align: left;
    font-family: $Roboto;
    font-size: 11.083px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.854px;
    @media (min-width: $desktop-width) {
        font-size: 16px;
    }
}
.homepage__label-file {
    display: block;
    width: 100%;
    margin: 0 auto 10px auto;
    border-radius: 10px;
    border: 1px dashed $white;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
}
.homepage__label-file:hover {
    opacity: 0.7;
}
.homepage__label-image {
    margin-bottom: 10px;
    @media (min-width: $desktop-width) {
        width: 15px;
        height: 24px;
    }
}
#homepage__file {
    display: none;
}
.homepage__label-clue {
    color: $white;
    text-align: center;
    font-family: $Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.854px;
    @media (min-width: $desktop-width) {
        font-size: 16px;
    }
}
.homepage__label-hook {
    color: #B8B8B8;
    text-align: center;
    font-family: $Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.854px;
    @media (min-width: $desktop-width) {
        font-size: 12px;
    }
}
.homepage__label-button {
    color: $blue;
    text-align: center;
    font-family: $Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.854px;
    @media (min-width: $desktop-width) {
        font-size: 16px;
    }
}
.homepage__promt {
    color: $white;
    text-align: center;
    font-family: $Roboto;
    font-size: 9.005px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.854px;
    text-decoration-line: underline;
    margin-bottom: 15px;
    @media (min-width: $desktop-width) {
        font-size: 14px;
        margin: 25px auto;
    }
}
.homepage__button {
    display: block;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(92deg, #FD5F2F 0.29%, #FFB069 142.96%);
    box-shadow:0 0 10px #FD5F2F;
    padding: 9px 27px;
    color: $white;
    text-align: center;
    font-family: $Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.854px;
    @media (min-width: $desktop-width) {
        width: 290px;
        font-size: 16px;
        padding: 15px 27px;
    }
}
.homepage__button:hover {
    opacity: 0.8;
}